[submodule "A1-TokenSale"]
	path = A1-TokenSale
	url = https://github.com/Jagadesh-Ronanki/A1-TokenSale.git
[submodule "A2-VotingSystem"]
	path = A2-VotingSystem
	url = https://github.com/Jagadesh-Ronanki/A2-VotingSystem.git
[submodule "A3-TokenSwap"]
	path = A3-TokenSwap
	url = https://github.com/Jagadesh-Ronanki/A3-TokenSwap.git
[submodule "A4-MultiSigWallet"]
	path = A4-MultiSigWallet
	url = https://github.com/Jagadesh-Ronanki/A4-MultiSigWallet.git
